.package-toolbar .v-toolbar__content, .v-toolbar__extension {
   padding: 0px!important;
 }
 /* .package-toolbar .v-toolbar__content .v-toolbar__items .v-btn .v-btn__content{
  color: #fff!important;
} */
 .top-toolbar .v-toolbar__content {
  height: 30px!important;
}
.menu-toolbar .v-toolbar__content {
  height: 46px!important;
  text-transform: none!important;
}

 .review-rating.v-rating .v-icon{
    padding: 0px;
 }
 .mt-10 {
   margin-top: 10px;
 }
 .mt-20 {
   margin-top: 20px;
 }
 .mt-10 {
   margin-bottom: 10px;
 }
 .mb-15 {
  margin-bottom: 15px;
 }
 .mb-20 {
   margin-bottom: 24px;
 }
 .ml5 {
  margin-left: 5px;
}
 .ml-30 {
   margin-left: 30px;
 }
 .faicon {
   margin-right: 8px;
 }
 .white-text.theme--light.v-btn{
   color: #fff;
 }

 .active .v-btn__content {
  border-bottom: 2px solid #038CC3 !important;
}
.v-btn__content {
  text-transform: none !important;
}
.v-navigation-drawer--temporary, .v-navigation-drawer--is-mobile{
  z-index: 1000 !important;
}
